@media screen and (max-width:780px) {
	.container {
		max-width: 550px;
	}

	body {
		background-image: url("/images/bg11.jpg");
		background-size: cover;
	}

    .nav{
        left:5px;
    }

    .nav-item1 {
        font-size:20px;
        left: 130px;
    }

    .nav-item2 {
        font-size:20px;
        left: 275px;
    }

    .nav-item3 {
        font-size:20px;
        left: 448px;
    }

    .nav-item4 {
        font-size:20px;
        left: 590px;
    }

    .text1 {
        left: 280px;
    }

    .icons {
        left: 172px;
    }
}

@media screen and (max-width:670px) {
    .container {
        max-width: 440px;
    }

    body {
        background-size: cover;
    }

    .nav-item1 {
        font-size:15px;
        left: 120px;
    }

    .nav-item2 {
        font-size:15px;
        left: 230px;
    }

    .nav-item3 {
        font-size:15px;
        left: 368px;
    }

    .nav-item4 {
        font-size:15px;
        left: 490px;
    }

    .text1 {
        font-size: 30px;
        left: 240px;
    }

    .icons {
        left: 130px;
    }

    .img1 {
        width: 32px;
        height: 32px;
    }
    
    .img2 {
        width: 32px;
        height: 32px;
        left: 141px;
    }
    
    .img3 {
        width: 32px;
        height: 32px;
        left: 237px;
    }
    
    .img4 {
        width: 32px;
        height: 32px;
        left: 334px;
    }
}

@media screen and (max-width:540px) {
	.container {
		max-width: none;
	}

	body {
		background-image: url("/images/bg111.jpg");
		background-size: cover;
	}

    .nav-item1 {
        left: 70px;
    }

    .nav-item2 {
        left: 180px;
    }

    .nav-item3 {
        left: 318px;
    }

    .nav-item4 {
        left: 440px;
    }

    .text1 {
        font-size: 30px;
        left: 180px;
    }

    .icons {
        left: 70px;
    }
}

@media screen and (max-width:400px) {
	.container {
		max-width: none;
	}

    body{
        background-image: url("/images/bg112.jpg");
    }

    .nav-item1 {
        font-size: 13px;
        left: 30px;
    }

    .nav-item2 {
        font-size: 13px;
        left: 120px;
    }

    .nav-item3 {
        font-size: 13px;
        left: 218px;
    }

    .nav-item4 {
        font-size: 13px;
        left: 300px;
    }

    .text1 {
        top: 70px;
        font-size: 25px;
        left: 130px;
    }

    .icons {
        top: 300px;
        left: 50px;
    }

    .img1 {
        width: 32px;
        height: 32px;
    }
    
    .img2 {
        width: 32px;
        height: 32px;
        left: 111px;
    }
    
    .img3 {
        width: 32px;
        height: 32px;
        left: 180px;
    }
    
    .img4 {
        width: 32px;
        height: 32px;
        left: 250px;
    }
}