@media screen and (max-width:780px) {
	.container {
		max-width: 550px;
	}

	body {
		background-image: url("/images/bg11.jpg");
		background-size: cover;
	}

    .nav{
        left:5px;
    }

    .nav-item1 {
        font-size:20px;
        left: 130px;
    }

    .nav-item2 {
        font-size:20px;
        left: 275px;
    }

    .nav-item3 {
        font-size:20px;
        left: 448px;
    }

    .nav-item4 {
        font-size:20px;
        left: 590px;
    }

    .text1 {
        left: 280px;
    }

    .icons {
        left: 172px;
    }
}

@media screen and (max-width:670px) {
    .container {
        max-width: 440px;
    }

    body {
        background-size: cover;
    }
    .nav-item1 {
        font-size:15px;
        left: 110px;
    }

    .nav-item2 {
        font-size:15px;
        left: 220px;
    }

    .nav-item3 {
        font-size:15px;
        left: 358px;
    }

    .nav-item4 {
        font-size:15px;
        left: 480px;
    }

    .text1 {
        font-size: 30px;
        left: 280px;
    }

    .icons {
        left: 172px;
    }

    .img1 {
        width: 32px;
        height: 32px;
    }
    
    .img2 {
        width: 32px;
        height: 32px;
    }
    
    .img3 {
        width: 32px;
        height: 32px;
    }
    
    .img4 {
        width: 32px;
        height: 32px;
    }
}