@media screen and (max-width:780px) {
	.container {
		max-width: 550px;
	}

	body {
		background-image: url("/images/bg11.jpg");
		background-size: cover;
	}

    .nav{
        left:5px;
    }

    .nav-item1 {
        font-size:20px;
        left: 120px;
    }

    .nav-item2 {
        font-size:20px;
        left: 265px;
    }

    .nav-item3 {
        font-size:20px;
        left: 438px;
    }

    .nav-item4 {
        font-size:20px;
        left: 580px;
    }

    .text1 {
        left: 280px;
    }

    .icons {
        left: 190px;
    }
}

