@media screen and (max-width:1280px) {
	.container {
		max-width: 1050px;
	}

	.icons1 {
		left: 40px;
	}


	.text2 {
		left: 700px;
	}
}

@media screen and (max-width:1200px) {
	.container {
		max-width: 970px;
	}

	.icons1 {
		left: 20px;
	}

	.nav {
		left: 150px;
	}

	.t {
		left: 540px;
	}

	.main_body {
		left: 50px;
	}

	.nav-item1 {
		font-size: 20px;
	}

	.nav-item2 {
		font-size: 20px;
	}

	.nav-item3 {
		font-size: 20px;
	}

	.nav-item4 {
		font-size: 20px;
	}

	.photo {
		left: 200px;
		top: 400px;
	}

	.text2 {
		left: 650px;
	}

	.button {
		left: 800px;
	}

	.text3 {
		left: 550px;
	}

	.icons2 {
		left: 460px;
	}
}

@media screen and (max-width:1140px) {
	.container {
		max-width: 910px;
	}

	.img1 {
		top: 10px;
		width: 22px;
		height: 22px;

	}

	.img2 {
		top: 10px;
		width: 22px;
		height: 22px;
		left: 89px;
	}

	.img3 {
		top: 10px;
		width: 22px;
		height: 22px;
		height: 22px;
		left: 131px;
	}

	.img4 {
		top: 10px;
		width: 22px;
		height: 22px;
		left: 173px;
	}

	.nav-item1 {
		font-size: 18px;
	}

	.nav-item2 {
		font-size: 18px;
	}

	.nav-item3 {
		font-size: 18px;
	}

	.nav-item4 {
		font-size: 18px;
	}

	.nav {
		left: 100px;
	}

	.t {
		left: 500px;
	}

	.Polina {
		height: 400px;
		width: 328px;
		left: 200px;
		top: 200px;
		border-radius: 0px;
	
		position: absolute;
		left: 400px;
		right: 0px;
		top: 450px;
		bottom: 0px;
	}

	.text2 {
		top: 900px;
		left: 350px;
	}

	.button {
		height: 40px;
		width: 187px;
		left: 480px;
		top: 1440px;
	}

	.text3 {
		left: 510px;
	}

	.icons2 {
		left: 420px;
	}
}

@media screen and (max-width:980px) {
	.container {
		max-width: 750px;
	}

	.icons1 {
		left: 10px;
	}

	.nav-item1 {
		left: 170px;
	}

	.nav-item2 {
		left: 300px;
	}

	.nav-item3 {
		left: 450px;

	}

	.nav-item4 {
		left: 570px;
	}

	.t {
		top: 120px;
		left: 430px;
	}

	.Polina {
		height: 400px;
		width: 328px;
		left: 200px;
		top: 200px;
		border-radius: 0px;
	
		position: absolute;
		left: 325px;
		right: 0px;
		top: 450px;
		bottom: 0px;
	}

	.text2 {
		left: 280px;
	}

	.button {
		left: 420px;
	}

	.text3 {
		left: 460px;
	}

	.icons2 {
		left: 370px;
	}
}

@media screen and (max-width:880px) {
	.container {
		max-width: 650px;
	}

	.nav-item1 {
		left: 120px;
	}

	.nav-item2 {
		left: 250px;
	}

	.nav-item3 {
		left: 400px;

	}

	.nav-item4 {
		left: 520px;
	}

	.icons1 {
		top: 50px;
		left: 330px;
	}

	.img1 {
		width: 32px;
		height: 32px;
	}

	.img2 {
		width: 32px;
		height: 32px;
		left: 105px;
	}

	.img3 {
		width: 32px;
		height: 32px;
		left: 163px;
	}

	.img4 {
		width: 32px;
		height: 32px;
		left: 221px;
	}

	.t {
		top: 120px;
		left: 400px;
	}

	.Polina {
		height: 400px;
		width: 328px;
		left: 200px;
		top: 200px;
		border-radius: 0px;
	
		position: absolute;
		left: 300px;
		right: 0px;
		top: 450px;
		bottom: 0px;
	}

	.text2 {
		left: 250px;
	}

	.button {
		left: 370px;
	}

	.text3 {
		left: 410px;
	}

	.icons2 {
		left: 330px;
	}
}

@media screen and (max-width:790px) {
	.container {
		max-width: 560px;
	}

	.nav-item1 {
		left: 70px;
	}

	.nav-item2 {
		left: 200px;
	}

	.nav-item3 {
		left: 350px;

	}

	.nav-item4 {
		left: 470px;
	}

	.icons1 {
		left: 260px;
	}

	.t {
		top: 120px;
		left: 350px;
	}

	.Polina {
		height: 400px;
		width: 328px;
		left: 200px;
		top: 200px;
		border-radius: 0px;
	
		position: absolute;
		left: 260px;
		right: 0px;
		top: 450px;
		bottom: 0px;
	}

	.text2 {
		left: 190px;
	}

	.button {
		left: 320px;
	}

	.text3 {
		left: 350px;
	}

	.icons2 {
		left: 260px;
	}
}

@media screen and (max-width:730px) {
	.container {
		max-width: 500px;
	}

	.nav-item1 {
		left: 40px;
	}

	.nav-item2 {
		left: 170px;
	}

	.nav-item3 {
		left: 320px;

	}

	.nav-item4 {
		left: 440px;
	}

	.icons1 {
		left: 230px;
	}

	.t {
		top: 120px;
		left: 320px;
	}

	.Polina {
		height: 400px;
		width: 328px;
		left: 200px;
		top: 200px;
		border-radius: 0px;
	
		position: absolute;
		left: 225px;
		right: 0px;
		top: 450px;
		bottom: 0px;
	}

	.text2 {
		left: 160px;
	}

	.button {
		left: 290px;
	}

	.text3 {
		left: 330px;
	}

	.icons2 {
		left: 230px;
	}
}

@media screen and (max-width:700px) {
	.container {
		max-width: none;
	}

	.nav-item1 {
		left: 20px;
	}

	.nav-item2 {
		left: 140px;
	}

	.nav-item3 {
		left: 290px;

	}

	.nav-item4 {
		left: 410px;
	}

	.icons1 {
		left: 200px;
	}

	.t {
		top: 120px;
		left: 290px;
	}

	.Polina {
		height: 400px;
		width: 328px;
		left: 200px;
		top: 200px;
		border-radius: 0px;
	
		position: absolute;
		left: 200px;
		right: 0px;
		top: 450px;
		bottom: 0px;
	}

	.text2 {
		left: 120px;
	}

	.button {
		left: 260px;
	}

	.text3 {
		left: 300px;
	}

	.icons2 {
		left: 200px;
	}
}

@media screen and (max-width:420px) {
	.container {
		max-width: none;
	}

	.nav{
		left: 90px;
	}

	.nav-item1 {
		font-size: 10px;
		left: 0;
	}

	.nav-item2 {
		font-size: 10px;
		left: 70px;
	}

	.nav-item3 {
		font-size: 10px;
		left: 160px;

	}

	.nav-item4 {
		font-size: 10px;
		left: 240px;
	}


	.icons1 {
		left: 110px;
	}

	.img1{
		width: 22px;
		height: 22px;
	}

	.img2{
		width: 22px;
		height: 22px;
		left: 89px;
	}

	.img3{
		width: 22px;
		height: 22px;
		left: 131px;
	}

	.img4{
		width: 22px;
		height: 22px;
		left: 173px;
	}

	.t {
		font-size: 25px;
		top: 90px;
		left: 185px;
	}

	.Polina {
		height: 300px;
		width: 228px;
		left: 200px;
		top: 200px;
		border-radius: 0px;
	
		position: absolute;
		left: 140px;
		right: 0px;
		top: 250px;
		bottom: 0px;
	}

	.text2 {
		top: 550px;
		left: 105px;
		font-size: 13px;
		width: 290px;
		height: 300px;
		line-height: 23px;
	}
}

@media screen and (max-width:400px) {
	.container {
		max-width: none;
	}


	body{
		background-image: url("/images/bg313p.jpg");
	}

	.nav{
		left: 55px;
	}

	.nav-item1 {
		font-size: 10px;
		left: 0;
	}

	.nav-item2 {
		font-size: 10px;
		left: 70px;
	}

	.nav-item3 {
		font-size: 10px;
		left: 160px;

	}

	.nav-item4 {
		font-size: 10px;
		left: 240px;
	}

	.icons1 {
		left: 70px;
	}

	.img1{
		width: 22px;
		height: 22px;
	}

	.img2{
		width: 22px;
		height: 22px;
		left: 89px;
	}

	.img3{
		width: 22px;
		height: 22px;
		left: 131px;
	}

	.img4{
		width: 22px;
		height: 22px;
		left: 173px;
	}

	.t {
		font-size: 25px;
		top: 90px;
		left: 150px;
	}

	.Polina {
		height: 300px;
		width: 228px;
		left: 200px;
		top: 200px;
		border-radius: 0px;
	
		position: absolute;
		left: 85px;
		right: 0px;
		top: 200px;
		bottom: 0px;
	}

	.text2 {
		top: 550px;
		left: 55px;
		font-size: 13px;
		width: 290px;
		height: 300px;
		line-height: 23px;
	}

	.button {
		top: 900px;
		font-size: 15px;
		left: 105px;
	}

	.text3 {
		font-size: 25px;
		left: 145px;
	}

	.icons2 {
		left: 80px;
	}

	.img1_1{
		width: 22px;
		height: 22px;
	}

	.img2_1{
		width: 22px;
		height: 22px;
		left: 89px;
	}

	.img3_1{
		width: 22px;
		height: 22px;
		left: 131px;
	}

	.img4_1{
		width: 22px;
		height: 22px;
		left: 173px;
	}

}