html {
	background: black;
	height: 2000px;
}


body {
	overflow-x: auto;
	overflow-y: scroll;
	height: 100%;
	background-image: url("/images/bg1_2_4p.jpg");
	background-position: absolute;
	background-size: cover;
	background-repeat: no-repeat;

}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}



.title h1 {
	padding-top: 200px;
	position: absolute;
	height: 188px;
	left: 100px;
	top: 126px;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 700;
	font-size: 78px;
	line-height: 94px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	animation: moveInLeft 2s ease-out;
}

.title p {
	position: absolute;
	padding-top: 100px;
	left: 100px;
	top: 327.19px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	display: flex;
	align-items: center;
	color: #EDB809;
	animation: moveInLeft 2s ease-out;
}

.text {
	position: absolute;
	height: 29px;
	left: 290px;
	top: 652px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 35px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	animation: moveInRight 3s ease-out;
}

.button1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 3px;
	gap: 10px;

	position: absolute;
	margin-top: 200px;
	width: 218px;
	height: 65px;
	left: 300px;
	right: 1098px;
	top: calc(50% - 65px/2 + 228px);

	background: #EDB809;
	border-radius: 50px;
	animation: moveInLeft 4s ease-out;
}

.button1_1 {
	list-style-type: none;
	text-decoration: none;
	align-items: center;
	text-align: center;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 35px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	color: #000000;
}

.button2 {
	display: flex;
	position: absolute;
	margin-top: 200px;
	width: 218px;
	height: 65px;
	left: 560px;
	right: 894px;
	top: 795px;
	bottom: 33px;
	top: calc(50% - 65px/2 + 228px);

	background: #EDB809;
	border-radius: 50px;
	animation: moveInLeft 4s ease-out;
}

.button2_1 {
	list-style-type: none;
	text-decoration: none;
	padding-left: 65px;
	padding-top: 30px;
	padding-bottom: 35px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}

.button3 {
	display: flex;
	position: absolute;
	margin-top: 200px;
	width: 218px;
	height: 65px;
	left: 820px;
	right: 690px;
	top: 795px;
	bottom: 33px;
	top: calc(50% - 65px/2 + 228px);

	background: #EDB809;
	border-radius: 50px;
	animation: moveInLeft 4s ease-out;
}

.button3_1 {
	list-style-type: none;
	text-decoration: none;
	padding-left: 75px;
	padding-top: 30px;
	padding-bottom: 35px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}

.a1{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	color:black;
	text-decoration: none;
	align-items: center;
	text-align: center;
}

.a1:hover{
	color:black;
	text-decoration: none;
}

.a2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	color:black;
	text-decoration: none;
	align-items: center;
	text-align: center;
}

.a2:hover{
	color:black;
	text-decoration: none;
}

.a3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	color:black;
	text-decoration: none;
	align-items: center;
	text-align: center;
}

.a3:hover{
	color:black;
	text-decoration: none;
}

.button1:hover {
	background: #db9600;
}

.button2:hover {
	background: #db9600;
}

.button3:hover {
	background: #db9600;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@media screen,
(max-width:1200px) {
	.container {
		max-width: 970px;
	}

	.text {
		left: 200px;
	}

	.button1 {
		left: 200px;
	}

	.button2 {
		left: 460px;
	}

	.button3 {
		left: 720px;
	}
}

@media screen,
(max-width:992px) {
	.container {
		max-width: 750px;
	}

	.text {
		left: 125px;
	}

	.button1 {
		left: 125px;
	}

	.button2 {
		left: 385px;
	}

	.button3 {
		left: 645px;
	}
}

@media screen,
(max-width:890px) {
	.container {
		max-width: 660px;
	}

	.title h1 {
		font-size: 68px;
		line-height: 74px;
	}

	.title p {
		font-size: 20px;
	}

	.text {
		font-size: 30px;
	}

	.button1 {
		height: 70px;
		left: 338px;
		top: 550px;
	}

	.button2 {
		height: 70px;
		left: 338px;
		top: 650px;
	}

	.button3 {
		height: 70px;
		left: 338px;
		top: 758px;
	}
}

@media screen,
(max-width:780px) {
	.container {
		max-width: 550px;
	}

	body {
		background-image: url("/images/bg11.jpg");
		background-size: auto;
	}

	.title h1 {
		font-size: 58px;
		line-height: 60px;
	}

	.title p {
		font-size: 17px;
		line-height: 0;
	}

	.text {
		font-size: 25px;
	}

	.button1 {
		left: 275px;
	}

	.button2 {
		left: 275px;
	}

	.button3 {
		left: 275px;
	}
}

@media screen,
(max-width:670px) {
	.container {
		max-width: 440px;
	}

	body {
		background-size: auto;
	}

	.title h1 {
		font-size: 48px;
		line-height: 50px;
		left: 50px;
	}

	.title p {
		font-size: 15px;
		left: 50px;
		top: 310px;
	}

	.text {
		font-size: 22px;
		left: 110px;
		top: 552px;
	}

	.button1 {
		left: 230px;
		top: 450px;
	}

	.button2 {
		left: 230px;
		top: 550px;
	}

	.button3 {
		left: 230px;
		top: 650px;
	}
}

@media screen,
(max-width:585px) {
	.container {
		max-width: none;
	}

	body {
		background-image: url("/images/bg111.jpg");
		background-size: cover;
	}

	.title h1 {
		font-size: 38px;
		line-height: 32px;
		left: 50px;
		top: 85px;
	}

	.title p {
		font-size: 15px;
		top: 250px;
		font-weight: 800;
	}

	.text {
		font-size: 19px;
		left: 60px;
		top: 552px;
	}

	.button1 {
		left: 150px;
		top: 450px;
	}

	.button2 {
		left: 150px;
		top: 550px;
	}

	.button3 {
		left: 150px;
		top: 650px;
	}
}


@media screen,
(max-width:430px) {
	.container {
		max-width: none;
	}

	body {
		background-size: auto;
	}

	.title h1 {
		left: 20px;
	}

	.title p {
		left: 20px;
	}

	.text {
		font-size: 16px;
		left: 40px;
		top: 450px;
	}

	.button1 {
		left: 100px;
		top: 325px;
	}

	.button2 {
		left: 100px;
		top: 425px;
	}

	.button3 {
		left: 100px;
		top: 525px;
	}
}