html {
	height: 2000px
}

body {
	display: flex;
	overflow-x:hidden;
	overflow-y: scroll;
	height: 100vh;
	background-image: url("/images/bg31p.jpg");
	background-position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}


header {
	position: absolute;
	height: 66px;
}

.nav {
	position: absolute;
	left: 230px;
	right: 150px;
	top: 9px;
	bottom: 7px;
}

.nav a {
	text-decoration: none;
}

.nav-item1 {
	position: absolute;
	list-style-type: none;
	width: 140px;
	left: 171px;
	top: 16px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.nav-item1:hover {
	color: grey;
}

.nav-item2 {
	position: absolute;
	list-style-type: none;
	width: 149px;
	left: 320px;
	top: 16px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.nav-item2:hover {
	color: grey;
}

.nav-item3 {
	position: absolute;
	list-style-type: none;
	width: 153px;
	left: 488px;
	top: 16px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FF4242;
}

.nav-item3:hover {
	color: #FF4242;
}

.nav-item4 {
	position: absolute;
	list-style-type: none;
	left: 643px;
	top: 16px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.nav-item4:hover {
	color: grey;
}

.icons1 {
	position: absolute;
	height: 51px;
	left: 1000px;
	top: 12px;
}

.img1 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 47px;
	top: 5.5px;

}

.img2 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 105px;
	top: 5.5px;

}

.img3 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 163px;
	top: 5.5px;
}

.img4 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 221px;
	top: 5.5px;

}

.body {
	position: absolute;
	height: 942.59px;
	left: 0px;
	right: 0px;
	top: 66px;
}

.t {
	position: absolute;
	width: 90px;
	height: 106px;
	left: 602px;
	top: 150px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 35px;
	line-height: 0px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.Polina {
	height: 400px;
	width: 328px;
	left: 200px;
	top: 200px;
	border-radius: 0px;

	position: absolute;
	left: 250px;
	right: 0px;
	top: 400px;
	bottom: 0px;
}

.text2 {
	position: absolute;
	width: 456px;
	height: 500px;
	left: 750px;
	top: 340px;
	background: #000000ad;
	float: right;
	border: 1px solid #FFFFFF;

	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 800;
	font-size: 27px;
	line-height: 33px;
	display: flex;
	text-align: center;
	align-items: center;

	color: palevioletred !important;

}

.button {
	box-sizing: border-box;

	position: absolute;
	width: 187px;
	left: 880px;
	top: 886px;
	bottom: 16.59px;
	

	background: #000000ad;
	border: 1px solid #FFFFFF;
}

.button1{
	list-style-type: none;
}

.a1 {
	position: absolute;
	width: 127px;
	height: 30px;
	left: 29px;
	top: 5px;

	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	

	color: palevioletred;
}

.a1:hover{
	color:palevioletred;
	text-decoration: none;
}

footer {
	position: fixed;
	height: 143px;
	left: 0px;
	border-radius: 0px;
	position: absolute;
	height: 143px;
	left: 0px;
	right: 0px;
	top: 1857.59px;
	background: #000000ad;
	background-size: auto;
}

.text3 {
	position: absolute;
	width: 111.42px;
	height: 19px;
	left: 612px;
	top: 31px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: 3.2px;

	color: hotpink;
}

.icons2 {
	position: absolute;
	left: 530px;
	right: 808px;
	top: 75px;
	bottom: 24px;
}

.img1_1 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 47px;
	top: 5.5px;

}

.img2_1 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 105px;
	top: 5.5px;

}

.img3_1 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 163px;
	top: 5.5px;
}

.img4_1 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 221px;
	top: 5.5px;

}