html {
	background: black;
	height: 2200px;
}


body {
	overflow-x: auto;
	overflow-y: scroll;
	height: 100%;
	background-image: url("/images/bg1_2_4p.jpg");
	background-size: cover;
}

.nav a {
	text-decoration: none;
}

.nav-item1 {
	position: absolute;
	list-style-type: none;
	width: 140px;
	height: 17px;
	left: 300px;
	top: 50px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.nav-item1:hover {
	color: grey;
}

.nav-item2 {
	position: absolute;
	list-style-type: none;
	width: 149px;
	height: 17px;
	left: 500px;
	top: 50px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.nav-item2:hover {
	color: grey;
}

.nav-item3 {
	position: absolute;
	list-style-type: none;
	width: 153px;
	height: 17px;
	left: 709px;
	top: 50px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.nav-item3:hover {
	color: grey;
}

.nav-item4 {
	position: absolute;
	list-style-type: none;
	width: 110px;
	height: 17px;
	left: 922px;
	top: 50px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 0px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FF4242;
}

.nav-item4:hover {
	color: #FF4242;
}

.text1 {
	position: absolute;
	width: 239.73px;
	height: 600px;
	left: 550px;
	top: 127px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 0px;

	display: flex;
	align-items: center;

	color: #EDB809;
}

.icons {
	position: absolute;
	left: 440px;
	top: 500px;
}

.img1 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 44px;
	top: 0px;
}

.img2 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 151px;
	top: 0px;
}

.img3 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 257px;
	top: 0px;
}

.img4 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 364px;
	top: 0px;
}