html {
	background: black;
	height: 2000px;
}


body {
	overflow-x: auto;
	overflow-y: scroll;
	height: 100%;
	background-image: url("/images/bg_2_4p.png");
	background-size: cover;
}

.title h1 {
	padding-top: 200px;
	position: absolute;
	width: 359px;
	height: 188px;
	left: 100px;
	top: 126px;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 700;
	font-size: 78px;
	line-height: 94px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	animation: moveInLeft 3s ease-out;
}

.title p {
	position: absolute;
	padding-top: 100px;
	width: 459px;
	left: 100px;
	top: 327.19px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	display: flex;
	align-items: center;
	color: #EDB809;
	animation: moveInLeft 3s ease-out;
}

.text {
	position: absolute;
	width: 765px;
	height: 29px;
	left: 300px;
	top: 652px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 35px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	animation: moveInLeft 3s ease-out;
}

.button1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 3px;
	gap: 10px;

	position: absolute;
	margin-top: 200px;
	width: 150px;
	height: 246px;
	left: 350px;
	right: 1098px;
	top: calc(50% - 246px/2 + 375px);

	background: #EDB809;
	box-shadow: inset 10px 6px 35px rgba(0, 0, 0, 0.6);
	border-radius: 50px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.button2 {
	position: absolute;
	margin-top: 200px;
	height: 246px;
	width: 150px;
	left: 600px;
	right: 894px;
	top: 795px;
	bottom: 33px;
	top: calc(50% - 246px/2 + 375px);

	background: #EDB809;
	box-shadow: inset 10px 6px 35px rgba(0, 0, 0, 0.6);
	border-radius: 50px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.button3 {
	position: absolute;
	margin-top: 200px;
	height: 246px;
	width: 150px;
	left: 850px;
	right: 690px;
	top: 795px;
	bottom: 33px;
	top: calc(50% - 246px/2 + 375px);

	background: #EDB809;
	box-shadow: inset 10px 6px 35px rgba(0, 0, 0, 0.6);
	border-radius: 50px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.button1_1 {
	list-style-type: none;
	padding-left: 15px;
	padding-top: 105px;
	padding-bottom: 104px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}

.button2_1 {
	list-style-type: none;
	padding-left: 30px;
	padding-top: 105px;
	padding-bottom: 104px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}

.button3_1 {
	list-style-type: none;
	padding-left: 45px;
	padding-top: 105px;
	padding-bottom: 104px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 0px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}

.button1:hover {
	background: #db9600;
}

.button2:hover {
	background: #db9600;
}

.button3:hover {
	background: #db9600;
}